body {
    min-width: 100vh;
}
/* header */
h1, h2, h3, h4, p {
    margin-top: 0;
    margin-bottom: 0;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
li {
    display:inline-block;
    margin-left: 0;
    margin-right: 0;
}
img {
    display: block;
}
.container {
    max-width: 1158px;
padding: 0 15px;
margin: 0 auto;
}
.logo-link{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0,03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-top: 25px;
    margin-right: 76px;
    margin-bottom: 25px;
}
.logo-studio-page {
font-weight: 700;
line-height: 21px;
letter-spacing: 0.54px;
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    text-transform: uppercase;
    margin: 0 auto;
    width: 71px;
}
.header-page {
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
background: var(--WHITE, #FFF);
}
.header-page .container {
    display: flex;
}
.page-nav {
    display: flex;
    align-items: center;
}
.nav-list {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    gap: 40px;
    padding-right: 332px;
    
}
.nav-list:hover,
.nav-list:focus {
  color: #404bbf;
}
.nav-items {
    padding: 24px 0;
    display: block;
}
.nav-list-link {
    display: flex;
    padding: 24px 0;
}
.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 24px 0 24px;
}
.body-page{
    color: #434455;
background: var(--WHITE, #FFF);
font-family: "Roboto", sans-serif;
}
/* main page */

.main-section {
    background: var(--NAVY-BLUE, #2E2F42);
    height: 600px;
    padding: 188px 0;
}
.section-page:hover,
.section-page:focus{
 color:  #404bbf;
}
.adress-contacts {
    font-style: normal;

}
.contacts-list .link {
    letter-spacing: 0.02em; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 24px 0;
}
.contacts-list .link:hover,
.contacts-list .link:focus {
  color: #404bbf;
}

.section-page-item {
    color: var(--WHITE, #FFF);
text-align: center;
font-family: "Roboto", sans-serif;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 1.07;
letter-spacing: 1.12px;
display: block;
align-items: center;
max-width: 496px;
margin: 0 auto;
}
.button-item {
background: var(--IRIS, #4D5AE5);
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
cursor: pointer;
font-size: 16px;
min-width: 169px;
height: 56px;
display: block;
padding: 16px 32px;
margin: 0 auto;
margin-bottom: 48px;
border: none;
border-radius: 4px;
}
.buttom-item:hover,
.buttom-item:focus {
    background-color: #404BBF;
}

/* Our Benefits */

.visually-hidden {
 display: none;
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0;
 white-space: nowrap;
 clip-path: inset(100%);
 clip: rect(0 0 0 0);
 overflow: hidden;
}
.benefits-page {
    background: #FFF; 
    padding: 120px 0;
}
.benefits-page-list {
    width: calc((100% - 3 * 24px) / 4)
}
.benefits-list {
    display: flex;
    gap: 24px;
    padding-top: 120px;
    padding-right: 156px;
    padding-bottom: 120px;
    padding-right: 156px;
    flex-wrap: nowrap;
}

.benefits-list-item {
    color: var(--NAVY-BLUE, #2E2F42);
font-family: "Roboto", sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.4px;
display: flex;
flex-direction: row;
margin-bottom: 8px;
}
.benefits-list-p {
    color: var(--SLATE, #434455);
font-family: "Roboto", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.32px;
}

/* Our team */
.section-team {
    background: var(--CLOUD, #F4F4FD);
    padding: 120px 0 120px 0;
}

.our-team {
    color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
font-family: "Roboto", sans-serif;
font-size: 36px;
font-style: normal;
font-weight: 700;
letter-spacing: 0.72px;
text-transform: capitalize;
line-height: 1.11;
padding-top: 120px;
margin-bottom: 72px;
}
.our-team-list {
    background-color: #FFFFFF;
    display: flex;
    gap: 24px;
    align-items: flex-start;
justify-content: center;
flex-direction: row;
margin-bottom: 32px;

}
.our-team-list-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
}
.staff-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:  #2e2f42;
    padding-top: 32px;
    margin-bottom: 8px;
    text-align: center;
}
.staff-profesion {
    text-align: center;
}
.our-team-list-name {
    padding: 32px 0;
}

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}
.staff-profesion {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    border-bottom: 120px;
}
.portfolio-page {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
font-family: "Roboto" sans-serif;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.72px;
text-transform: capitalize;
text-align: center;
padding-top: 120px;
margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
}
.portfolio-title {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}

.portfolio-title-list {
    background-color: #ffffff;
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
    padding-top: 32px;
    margin-bottom: 8px;
}
.portfolio-title-item {
    line-height: 1.5;

}
.portfolio-list-item {
    width: calc((100%-(2*(3*24px))) / 6);
}

/* Footer */
.footer-page {
    background: var(--NAVY-BLUE, #2E2F42);
    height: 312px;
    flex-shrink: 0;
    padding: 100px 0 100px;
}
.footer-page-item {
    color: var(--CLOUD, #F4F4FD);
font-family: "Roboto", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.32px;

}
.logo {
    color: var(--IRIS, #4D5AE5);
font-family: "Raleway", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17; 
letter-spacing: 0.03em;
text-transform: uppercase;
display: inline-block;
margin-bottom: 16px;


}
.logo-studio {
    color: var(--CLOUD, #F4F4FD);
    font-family: "Raleway", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
letter-spacing: 0.54px;
text-transform: uppercase;
line-height: 1.17;
}

